# Dependencies
node_modules/

# Environment variables
.env

# Angular
client/.angular/
client/dist/
client/coverage/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/settings.json

# Build output
dist/

# Temporary files
tmp/
temp/

node_modules
.env